*{
    margin: 0;
    padding: 0;
}

nav{
    background-color: #efefef;
    width: 100%;
    height: 8rem;
    border-radius: 25px; 
}

nav ul{
    float: left;
    display: flex;
}

nav ul li {
    float: left;
    list-style: none;
    position: relative;
}

nav ul li a { 
    display: block;
    padding: 0 2rem;
    line-height: 6rem;
    color: black;
}

nav ul li ul{
    display: none;
    position: absolute;
    background-color: #ffffff;
    border: 1px solid #cccccc;
}

nav ul li ul li {
    width: 100%;
}

nav ul li:hover ul {
    display: block;
}

nav ul li ul li a {
    padding: 1rem 2rem;
    line-height: unset;
    white-space: nowrap;
}

nav ul li ul li a:hover{
    background-color: #efefef;
}

a{
    
    font-family: 'Spartan', sans-serif;  
}

h1 {
    font-family: 'Anton', sans-serif;
}
h2 {
    font-family: 'Catamaran', sans-serif;
}
h3 {
    font-family: 'Roboto', sans-serif;
}
h4 {
    font-family: 'Catamaran', sans-serif;
}
 hr {
    border: 1.2px solid #7E9920;
} 
p {
    font-family: 'Catamaran';
}



/* ---------------------- Entregas ------------------- */

.tamales-entregas {
    height: 735px;
    background-color: #f8ac4e;
    margin-top: -3%;
    border-radius: 25px;
    background-blend-mode: soft-light;
    background-size: cover;
}

.tamales-entregas .tamales-entregas-titulo {
    text-align: center;
    color:white;
}
.tamales-entregas .tamales-entregas-seleccionador {
    margin-left: 45%;
    width:15%;
    height: 5%;
}
.tamales-entregas .tamales-entregas-subtitulo{
    text-align: center;
    /*font-family: fantasy; */
    font-size: 20px;    
}

.tamales-entregas .tamales-entregas-texto{
    text-align: left;
    font-family: monospace; 
    font-size: 15px;  
}
.tamales-entregas .tamales-entregas-tabla{
    text-align: center;
    margin-left: 15%;
}
.tamales-entregas .tamales-entregas-estilo1{
    background: rgba(4, 245, 152, 0.3); 
    border: 1px solid rgba(200, 100, 0, 0.3);
    }
.tamales-entregas .tamales-entregas-estilo2{
background: rgba(232, 248, 4, 0.3); 
border: 1px solid rgba(200, 100, 0, 0.3);
}
.tamales-entregas .tamales-entregas-estilo3{
    background: rgba(4, 126, 59, 0.3); 
    border: 1px solid rgba(200, 100, 0, 0.3);
    }

    /* ---------------------- Compra1 ------------------- */

    .tamales-compra1 {
        height: 735px;
        background-color: #f37e7e;
        margin-top: -3%;
        border-radius: 25px;
        background-blend-mode: soft-light;
        background-size: cover;
    }
    
    .tamales-compra1 .tamales-compra1-titulo {
        text-align: center;
        color:white;
    }
    .tamales-compra1 .tamales-compra1-seleccionador {
        margin-left: 45%;
        width:10%;
        height: 5%;
    }
    .tamales-compra1 .tamales-compra1-subtitulo{
        text-align: center;
        /*font-family: fantasy; */
        font-size: 20px;    
    }
    
    .tamales-compra1 .tamales-compra1-texto{
        text-align: left;
        font-family: monospace; 
        font-size: 15px;  
    }

    .tamales-compra1 .tamales-compra1-button1{
        margin-top: 5%;
        background-color: #E9241F;
        height: 65px;
        border-radius: 55px;
        width: 140px;
        font-size: 20px;
    }
    
    .tamales-compra1 .tamales-compra1-button2{
        margin-top: 5%;
        background-color: #00fc00;
        height: 65px;
        border-radius: 55px;
        width: 140px;
        font-size: 20px;
    }

    .tamales-compra1 .tamales-compra1-botones {
        margin-top: 5%;
        text-align: center;
    }

    .tamales-compra1 .tamales-compra1-productos img{
        width: 190px
    }
    .tamales-compra1 .tamales-compra1-productos-fila h4 {
        margin-top: 2%;
    }

    /* ---------------------- Compra2 ------------------- */

    .tamales-compra2 {
        height: 400px;
        background-color: #f37e7e;
        margin-top: -3%;
        border-radius: 25px;
        background-blend-mode: soft-light;
        background-size: cover;
    }
    
    .tamales-compra2 .tamales-compra2-titulo {
        text-align: center;
        color:white;
    }
    .tamales-compra2 .tamales-compra2-seleccionador {
        margin-left: 45%;
        width:10%;
        height: 5%;
    }
    .tamales-compra2 .tamales-compra2-subtitulo{
        text-align: center;
        /*font-family: fantasy; */
        font-size: 20px;    
    }
    
    .tamales-compra2 .tamales-compra2-texto{
        text-align: left;
        font-family: monospace; 
        font-size: 15px;  
    }

    .tamales-compra2 .tamales-compra2-button1{
        margin-top: 5%;
        background-color: #1b6bac;
        height: 65px;
        border-radius: 55px;
        width: 140px;
        font-size: 20px;
    }
    
    .tamales-compra2 .tamales-compra2-button2{
        margin-top: 5%;
        background-color: #e91d16;
        height: 65px;
        border-radius: 55px;
        width: 140px;
        font-size: 20px;
    }

    .tamales-compra2 .tamales-compra2-botones {
        margin-top: 5%;
        text-align: center;
    }

    .tamales-compra2 .tamales-compra1-img{
        width: 150px
    }
    .tamales-compra2 .tamales-compra2-img{
        width: 163px
    }
  
    /* ---------------------- Compra domicilio ------------------- */

    .tamales-compraD {
        height: 500px;
        background-color: #f37e7e;
        margin-top: -3%;
        border-radius: 25px;
        background-blend-mode: soft-light;
        background-size: cover;
    }
    
    .tamales-compraD .tamales-compraD-titulo {
        text-align: center;
        color:white;
    }

    .tamales-compraD .tamales-compraD-texto{
        text-align: left;
        font-family: monospace; 
        font-size: 15px;  
    }
    .tamales-compraD .tamales-compraD-button{
        margin-top: 0%;
        background-color: #1b6bac;
        height: 50px;
        border-radius: 55px;
        width: 165px;
        font-size: 20px;
        margin-left: 43%;
    }

    /* ---------------------- Login ------------------- */
    .tamales-login {
        height: 400px;
        background-color: #f37e7e;
        margin-top: -3%;
        border-radius: 25px;
        background-blend-mode: soft-light;
        background-size: cover;
    }

    .tamales-login .tamales-login-titulo {
        text-align: center;
        color:white;
    }

    .tamales-login .tamales-login-subtitulo{
        text-align: center;
        /*font-family: fantasy; */
        font-size: 20px;    
    }